* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}
.App {
  width: 600px;
  height: 800px;
  margin: 0px auto;
  background-color: bisque;
}
.title {
  text-align: center;
  background-color: red;
}

.header {
  text-align: center;
  background-color: rgb(217, 184, 233);
  height: 100px;
  line-height: 100px;
}

.home, .comp1, .comp2, .comp3{
  text-align: center;
  background-color: white;
  height: 600px;
  line-height: 50px;
}

.home {
  line-height: 100px;
}

.footer {
  text-align: center;
  background-color: rgb(233, 230, 197);
  height: 100px;
  line-height: 100px;
}

a {
  text-decoration: none;
  margin: 5px;
  color: blue;
}